[packages]
flask = "*"
flask-sqlalchemy = "*"
Werkzeug = "*"
flask-cors = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
faker = "*"
flask-migrate = "*"
flask-restful = "*"
importlib-metadata = "*"
importlib-resources = "*"
pytest = "*"
flask-bcrypt = "*"
flask-jwt-extended ="*"